{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/create.css'%}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico'%}">
    <title>Actualizar</title>
</head>
<body id="myId" class="background_image" style="background-image:url(/static/images/why.jpg);background-attachment: fixed;background-repeat: no-repeat;"> 
     <section class="register-account"> 
        <div class="signform" >    
            <div class="right">
                <div class="headit">
                    <h2>Actualizar a Destination({{dest.name}})</h2>
                </div>
                <div class="form">
                    <form class="login-form" id="login-form" method="post" enctype="multipart/form-data" action="{% url 'modificar' dest.id %}">
                            {% csrf_token %}
                        <input type="text" name="name" id="name" placeholder="City Name" value="{{dest.name}}" >
                        <input type="file" name="img" id="img" placeholder="Imagen"  >
                        <textarea name="desc" id="desc" placeholder="Descripcion" cols="30" row="4" >{{dest.desc}}</textarea>
                        <input type="number" step="any" name="price" id="price" placeholder="Precio" value="{{dest.price}}">
                        <div class="checkbox">
                            <input type="checkbox" name="offer" id="offer" class="checkbox" value="{{dest.offer}}" >
                            <label for="offer">Oferta</label><br>
                            <input type="checkbox" name="state" id="state" class="checkbox" value="{{dest.state}}" >
                            <label for="state">Estado_Destino(activo/inactivo)</label> 
                        </div>
                        <div style="font-family: cursive;color:tomato">
                            <h3> {{message}}</h3>
                        </div>
                        <input class="subbt" type="submit" value="Save" style="border:none;"/>
                        <a class="subbt" href="/" style="border:none;width:3em;color:white;" value="Cancel">Cancel</a>
                    </form>
                </div>
            </div>       
        </div>
    </section>
</body>  
</html>
                           